.form-control{
  width: 30%;
  text-align: center;
  height: 30px;
  background-color: rgba(30, 47, 73, 1);
  color: white;
  margin-left:0px ;
  
}
.graph-title{
  text-align: left;
}
.analisis-title{
  text-align: left;
}
.select-label{
  text-align: left;
}
